<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container my-2">

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand"><h1>Cars List</h1></a>

            <form class="d-flex" action="#" th:action="@{/cars/colors}" th:object="${car}">

                <fieldset>
                    <input class="form-control me-2" type="search" name="color" value=""
                           placeholder="Type a color" aria-label="Search"/>
                </fieldset>

                <input class="btn btn-outline-success" type="submit" value="Search"></input>
            </form>
        </div>
    </nav>


    <div class="table-responsive">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th scope="col">Car Mark</th>
                <th scope="col">Car Model</th>
                <th scope="col">Car Color</th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car: ${cars}">
                <td th:text="${car.mark}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.color}"></td>
                <td><a th:href="@{cars/update/{id}(id=${car.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{cars/delete/{id}(id=${car.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container">

    <a th:href="@{/cars/new_car}" class="btn btn-success"> Add Car </a>

    <br><br>
<hr>
    <nav>
        <ul class="pagination">
            <li class="page-item"><span class="page-link">Previous</span></li>
            <li class="page-item active"><span class="page-link">1</span></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
</body>
</html>






